# composer
/composer.lock
/vendor/*

# phpunit
/build/*
/phpunit.xml
/.phpunit.result.cache
/coverage/*

# other
/.idea
/Gemfile
/Gemfile.lock
/autotest.rb
/Dockerfile
/.php-cs-fixer.cache
/*.sublime-workspace
